---
import { Image } from "astro:assets";
import config from "@/config/config.json";
const { src } = Astro.props;
const {
  logo,
  logo_width,
  logo_height,
  logo_text,
  title,
}: {
  logo: string;
  logo_width: any;
  logo_height: any;
  logo_text: string;
  title: string;
} = config.site;
---
<style>
  .navbar-brand {
    font-size: 30px;
    color: #bd9644;
  }
</style>
<a href="/" class="navbar-brand block">
  Fiddlebops
</a>
